doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Canvas
    link(rel="stylesheet", href="./sass/styles.sass")
  body
    div
      h1 Canvas
      canvas.border#canvas(width="600px" height="400px")
      br
      button#bte Esquerda
      button#btd Direita
    script(src="./js/index.js")