doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Canvas
    link(rel="stylesheet", href="./sass/styles.sass")
  body
    div
      h1 Canvas
      canvas.border#canvas(width="600px" height="400px")
      br
      p
        img#btup(src="./img/up.svg", alt="", width="50px")
        img#btdown(src="./img/down.svg", alt="", width="50px")
        img#btleft(src="./img/left.svg", alt="", width="50px")
        img#btright(src="./img/right.svg", alt="", width="50px")

      //- button#bte Esquerda
      //- button#btd Direita
    script(src="./js/index.js")